.hero {
    width: 100%;
}

.hero-top {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-top .hero-left .hero-tag {
    width: 380px;
    gap: 10px;
    background: var(--gray-gradient);
    color: white;
    height: 40px;
    font-size: 18px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: 25px;
}

.hero-tag div {
    display: flex;
    gap: 5px;
}

.hero-tag i {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gray-text {
    color: rgb(180, 180, 180);
}

.hero-top .hero-left .title {
    font-size: 77px;
    text-align: start;
    font-weight: 600;
    line-height: 100px;
}

.hero-top .hero-left .title .title-1 {
    color: white;
}

.hero-top .hero-left .title .title-2, .hero-services-r .title {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero-top .hero-left .subtitle, .hero-services-r .text {
    color: rgb(160, 160, 160);
    text-align: start;
    font-size: 18px;
}

.hero-top .hero-left .subtitle {
    margin-top: 25px;
    width: 500px;
}

.hero-top .hero-left {
    margin-left: 25px;
}

.responsive-img {
    display: none;
}



@media (max-width: 1080px) {
    .hero-top {
        display: block;
    }

    /* .hero-right {
        margin-left: -150px;
        background: url("../../assets/computer.png");
        position: relative;
        background-repeat: no-repeat;
        width: 148%;
        height: 600px;
        margin-bottom: 100px;
    } */
    
    .hero-right img {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .responsive-img {
        display: block;
        background-image: url("../../assets/computer.png");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 40%;
    }
}

@media (max-width: 600px) {
    .hero-top .hero-left .hero-tag {
        width: 95%;
        font-size: 14px;
        margin-top: 25px;
        height: 35px;
    }
}

@media (max-width: 530px) {
    .hero-top .hero-left .title {
        font-size: 50px;
        text-align: start;
        font-weight: 600;
        line-height: 75px;
    }
    .hero-top .hero-left .subtitle {
        margin-top: 25px;
        width: 90%;
        font-size: 18px;
    }
}